@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,500;1,9..144,500&family=Inter:wght@400;700&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,500;1,9..144,500&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap');

*{
    font-family: 'Fraunces', serif;
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Montserrat', sans-serif;

font-family: 'Fraunces', serif;
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Montserrat', sans-serif;

background: hsl(233, 47%, 7%);
max-height: 1440px; 

/* for Mobile */

}
.container{
    height:30vh ;
    width: 100px;
    display: flex;  
    
}
 .card{
    background:hsl(244, 38%, 16%) ;
    margin:100px;
    display: flex;
    width: 100vh;
    
}
.card-right{
    width: 500px;
}
h1{
   color:hsl(0, 0%, 100%);
   width: 300px;
}
p{
  color:hsla(0, 0%, 100%, 0.75);
  width:450px;
  margin-right: 10px;
}
ul{
    
    color:hsl(0, 0%, 100%);   
}
.card-img img{
    width: 60vh;
    height: 45vh;    
}
.design-2{
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
    text-decoration: none;
    width: 200px;
}
.design-1{
    font-family: 'Lexend Deca', sans-serif;
}
@media only screen and (max-width: 375px) {
    body {
      display: grid;
    }
  }

